<div class="login">
    <div class="section-main">
       <div class="section-main__login">
           <app-login></app-login>
       </div>
       <div class="section-main__sign">
            <div class="logo">
                <img src="../../../../assets/logo_pura.png" alt="">
            </div>
            <div class="sign">
                <h2>Não tem acesso?</h2>
                <p>Caso não tenha acesso, clique no botão abaixo e faça seu cadastro</p>
                <div class="btn">
                     <button class="btn btn-dark">Cadastrar</button>
                </div>
            </div>
       </div>
    </div>
</div>