<div class="login">
    <div class="section-main">
       <div class="section-main__login">
           <app-login></app-login>
       </div>
       <div class="section-main__sign">
            <div class="logo">
                <img src="../../../../assets/logo_pura.png" alt="">
            </div>
            <div class="sign">
                <h2>{{title}}</h2>
                <p>{{text}}</p>
                <div class="btn">
                     <button class="btn btn-dark">{{btnText}}</button>
                </div>
            </div>
       </div>
    </div>
</div>