
<div class="section-login">
  <!-- <mat-label>E-mail</mat-label>
  <div class="section-login__user">
    <mat-form-field appearance="outline">
      <input matInput placeholder="Digite seu e-email">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
  </div>


  <div class="section-login__password">
    <mat-label>Password</mat-label>
    <mat-form-field appearance="outline">
      <input placeholder="Digite sua senha" class="input-main" matInput [type]="hide() ? 'password' : 'text'" />
      <button
        mat-icon-button
        matSuffix
        (click)="clickEvent($event)"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide()"
      >
        <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

   </div> -->

   <div class="section-login__user">
    <label for="">E-mail</label>
      <p-iconfield  >
          <p-inputicon class="pi pi-user"/>
          <input pInputText id="username"  autocomplete="off" placeholder="Digite seu e-email"/>
      </p-iconfield>
   </div>

   <div class="section-login__password">
    <label for="">Password</label>
      <p-iconfield>
          <p-inputicon class="pi pi-lock" />
          <input pInputText id="username"  autocomplete="off" placeholder="Insira sua senha" />
      </p-iconfield>
   </div>
</div>
