
<div class="section-login">
   <div class="section-login__user">
    <label for="">E-mail</label>
      <p-iconfield  >
          <p-inputicon class="pi pi-user"/>
          <input pInputText id="username"  autocomplete="off" placeholder="Digite seu e-email"/>
      </p-iconfield>
   </div>

   <div class="section-login__password">
    <label for="">Password</label>
      <p-iconfield>
          <p-inputicon class="pi pi-lock" />
          <input pInputText id="username"  autocomplete="off" placeholder="Insira sua senha" />
      </p-iconfield>
   </div>
</div>
