@use "../../styles/variables.scss" as *;

.section-login{
    mat-label{
        font-weight: 500;
        font-size: 1.1rem;
    }
}

.section-login mat-form-field{
    // border: 2px solid;
    width: 100%;

 }


 