@use "../../styles/variables.scss" as *;
@import 'primeicons/primeicons.css';

.section-login{
    mat-label{
        font-weight: 500;
        font-size: 1.1rem;
    }
}

.section-login mat-form-field{
    // border: 2px solid;
    width: 100%;

 }

 .section-login{
    // border: 2px solid;

    label{
        font-weight: 500;
        font-size: 1.1rem;
        margin-bottom: 1%;
    }

    .pi{
        color: #000;
    }

    input{
        background-color:#ECEBEB;
        width: 100%;
        margin-bottom: 5%;
        display: flex;
        height: 50px;

    }
 }

//  style="border: 2px solid; display: flex; height: 50px;"

 