<main class="p-3 border">
    <div>Cadastro de Acessos</div>
  
    <form class="row g-3" (ngSubmit)="cadastrar()">
      <div class="col-md-6">
        <label for="inputDescricao" class="form-label">Descrição</label>
        <input
          type="text"
          class="form-control"
          id="inputDescricao"
          [(ngModel)]="descricao"
          name="descricao"
          required
        />
      </div>
  
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Cadastrar</button>
      </div>
    </form>
  </main>
  