<div class="card flex flex-col items-center gap-4">
    <p-iconfield >
        <p-inputicon class="pi pi-search" />
        <input class="search" pInputText [(ngModel)]="value1" placeholder="Small" size="small" />
    </p-iconfield>

    <p-iconfield>
        <input pInputText [(ngModel)]="value1" placeholder="Normal" />
        <p-inputicon class="pi pi-user" />
    </p-iconfield>

    <p-iconfield>
        <p-inputicon class="pi pi-lock" />
        <input pInputText [(ngModel)]="value1" placeholder="Large" size="large" />
        <p-inputicon class="pi pi-spin pi-spinner" />
    </p-iconfield>
</div>